{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justifiy-content-center">
        <div class="col-md-10 mt-5 text-center">
            <div class="card p">
                <div class="card-body ">
                    <h1>{% trans "Change Password" %}</h1>
                    <p>{% trans 'Your password is now changed.' %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
